# -*- coding: utf-8 -*-
# vim: ft=yaml

{%- load_yaml as yumsync_os_family %}
base:
  pkgs:
    - yumsync
  cron:
    name: yumsync
  reposdir: '/srv/export/repo'
  confdir: '/etc/yumsync'
  #conffile: 'repos.yml'

default:
  sysconfdir: /etc/sysconfig

Debian:
  sysconfdir: /etc/default

RedHat:
  sysconfdir: /etc/sysconfig

{%- endload %}


#create yumsync_default_plus_pillar_lookup where 
# - base is defaults for all os's
# - base is merged with and overridden by os_family settings (default if os_family could not be found in dict) 
# - resulting dict is merged with 'yumsync:lookup' - pillar (pillar overrides)
{%- set yumsync_default_plus_pillar_lookup = salt['grains.filter_by'](yumsync_os_family, grain='os_family', merge=salt['pillar.get']('yumsync:lookup'), default='default', base='base') %}


# now yumsync_default_plus_pillar_lookup is merged with 'yumsync'-pillar ('yumsync'-pillar overrides yumsync_default_plus_pillar_lookup
{%- set yumsync = salt['pillar.get']('yumsync', default=yumsync_default_plus_pillar_lookup, merge=True) %}
